// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.art_edit_section {
  .images {
    img {
      max-width: 305px;
      margin-bottom: 20px;
    }
  }
}

.student_art_section {
  .art-card {
    img {
      max-width: 85%;
      height: auto;
      margin: auto;
      display: block;
    }
    .price {
      margin-top: 15px;
      position: absolute;
      bottom: 80px;
    }
  }
}

.student_art_show_section {
  h3 {
    margin: 15px 0 5px 0;
  }
  h5 {
    margin: 5px 0;
  }
}

.account-button {
    right: 15px;
    position: absolute;
    a:after{
        content: '' !important;
    }
}
